@media screen and (min-width: 769px) {
  @-webkit-keyframes flying {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: -640px 0px;
    }
  }
  @-moz-keyframes flying {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: -640px 0px;
    }
  }
  @-ms-keyframes flying {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: -640px 0px;
    }
  }
  @-o-keyframes flying {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: -640px 0px;
    }
  }
  @keyframes flying {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: -640px 0px;
    }
  }
  @-webkit-keyframes waves {
    0% {
      margin-top: -10px;
    }
    100% {
      margin-top: 10px;
    }
  }
  @-moz-keyframes waves {
    0% {
      margin-top: -10px;
    }
    100% {
      margin-top: 10px;
    }
  }
  @-ms-keyframes waves {
    0% {
      margin-top: -10px;
    }
    100% {
      margin-top: 10px;
    }
  }
  @-o-keyframes waves {
    0% {
      margin-top: -10px;
    }
    100% {
      margin-top: 10px;
    }
  }
  @keyframes waves {
    0% {
      margin-top: -10px;
    }
    100% {
      margin-top: 10px;
    }
  }
  @-webkit-keyframes smoking {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -1574px 0;
    }
  }
  @-moz-keyframes smoking {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -1574px 0;
    }
  }
  @-ms-keyframes smoking {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -1574px 0;
    }
  }
  @-o-keyframes smoking {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -1574px 0;
    }
  }
  @keyframes smoking {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -1574px 0;
    }
  }
  body.animated:before {
    content: "";
    display: block;
    width: 160px;
    height: 104px;
    background-image: url(../images/animados/olho_aladoanima.png);
    position: fixed;
    top: 49%;
    left: 50%;
    margin: -75px -100px;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 1000ms ease-in-out;
    -moz-transition: all 1000ms ease-in-out;
    -o-transition: all 1000ms ease-in-out;
    transition: all 1000ms ease-in-out;
    -webkit-animation: flying 0.4s infinite steps(4), waves 1.4s infinite alternate;
    -moz-animation: flying 0.4s infinite steps(4), waves 1.4s infinite alternate;
    -o-animation: flying 0.4s infinite steps(4), waves 1.4s infinite alternate;
    animation: flying 0.4s infinite steps(4), waves 1.4s infinite alternate;
  }
  body.animated:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 1500ms ease-in-out;
    -moz-transition: all 1500ms ease-in-out;
    -o-transition: all 1500ms ease-in-out;
    transition: all 1500ms ease-in-out;
  }
  body.animated.loading-on:after,
  body.animated.loading-on:before {
    opacity: 1;
    visibility: visible;
  }
  .in-inspire {
    display: block;
    width: 160px;
    height: 104px;
    margin-top: -10px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../images/animados/olho_aladoanima.png);
    -webkit-animation: flying 0.4s infinite steps(4), waves 1.4s infinite alternate;
    -moz-animation: flying 0.4s infinite steps(4), waves 1.4s infinite alternate;
    -o-animation: flying 0.4s infinite steps(4), waves 1.4s infinite alternate;
    animation: flying 0.4s infinite steps(4), waves 1.4s infinite alternate;
  }
  section {
    z-index: 1;
    background: #fff;
  }
  section.borders {
    background: #000;
    position: relative;
    z-index: 3;
  }
  section.borders:after,
  section.borders:before {
    content: "";
    display: block;
    width: 100%;
    height: 79px;
    position: absolute;
    bottom: -78px;
    left: 0;
    border: none;
    background: url(../images/bordas/borda_down_p.png) center bottom;
    background-color: none;
  }
  section.borders:before {
    height: 68px;
    bottom: auto;
    top: -67px;
    background: url(../images/bordas/borda_top_g.png) center 0;
  }
  /*apresenta*/
  #apresenta {
    margin-top: 106px;
  }
  #apresenta:before {
    background-color: #000;
  }
  #apresenta .mid {
    min-height: 273px;
  }
  #apresenta h2 {
    margin: 6px 0 0 83px;
  }
  #apresenta p {
    margin: 32px 52px 0 0;
  }
  #apresenta span {
    display: block;
    width: 76px;
    height: 174px;
    position: absolute;
    bottom: -133px;
    left: 38px;
    background-image: url(../images/ilustracoes/1olhos.png);
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  #apresenta .olho-2 {
    width: 64px;
    height: 121px;
    bottom: -112px;
    left: 141px;
    background-position: -223px 0;
  }
  #apresenta .olho-3 {
    width: 99px;
    height: 138px;
    bottom: -124px;
    left: 470px;
    background-position: right 0;
  }
  /*estrategia*/
  #strategic h2 {
    margin: 351px -100px 0 65px;
  }
  #strategic .img-projeto {
    position: absolute;
    top: 133px;
    left: 304px;
  }
  #strategic .img-cena {
    margin: 54px -8px 0 0;
  }
  #strategic .img-nuvens {
    margin: -75px 7px 32px 0;
  }
  .table {
    position: relative;
    width: 880px;
    margin: 0 auto 86px;
  }
  /*gestão*/
  #management h2 {
    margin: 301px 0 0 58px;
  }
  #management .img-cena {
    margin: 6px 15px 22px -30px;
  }
  #management .table {
    margin-bottom: 28px;
  }
  /*operacional*/
  #operational h2 {
    margin: 412px -100px 0 25px;
  }
  #operational img.fil-3 {
    margin: 73px 22px 0 0;
  }
  #operational img.fil-2 {
    margin: -72px 9px 0 0;
  }
  #operational span.fil-1 {
    display: block;
    width: 787px;
    height: 336px;
    margin: -137px 16px 11px 0;
    background-image: url(../images/animados/3fileira.png);
    -webkit-animation: smoking 0.23s infinite steps(2);
    -moz-animation: smoking 0.23s infinite steps(2);
    -o-animation: smoking 0.23s infinite steps(2);
    animation: smoking 0.23s infinite steps(2);
  }
  #operational .table {
    margin: 0 auto 83px;
  }
  /*funcional*/
  #functional h2 {
    margin: 169px -200px 0 53px;
  }
  #functional .img-cena {
    margin: 9px -6px 18px 0;
  }
  #functional .img-nuvens {
    margin: -276px 34px 0 0;
  }
  #functional .peao {
    display: block;
    width: 142px;
    position: absolute;
    left: 455px;
    top: 33px;
  }
  #functional .img-peao-corpo {
    margin: 63px 0 26px;
  }
  #functional .table {
    margin-bottom: 24px;
  }
  /*qualidade*/
  #quality h2 {
    position: absolute;
    left: 31px;
    top: 260px;
  }
  #quality img {
    position: absolute;
  }
  #quality .img-cena {
    position: relative;
    margin: 31px 0 15px 13px;
  }
  #quality .img-nuvens {
    top: 168px;
    left: 13px;
  }
  #quality .img-coroa {
    top: 178px;
    left: 421px;
  }
  #quality .img-projeto {
    top: 124px;
    right: 22px;
  }
  #quality .img-raios {
    top: 238px;
    left: 525px;
  }
  #quality .table {
    margin-bottom: 142px;
  }
  #quality .table img {
    position: relative;
  }
  .skrollr section {
    position: fixed!important;
    top: 100%;
    width: 100%;
    margin: 0px;
  }
  .skrollr section.borders {
    margin-top: 68px;
  }
  .skrollr section#apresenta {
    top: 42px;
    margin-top: 68px;
  }
  .skrollr section#strategic {
    top: 383px;
  }
  .skrollr section#strategic h2 {
    top: 264px;
    margin-top: 0px;
  }
  .skrollr section#functional .img-nuvens {
    margin-top: -170px;
  }
  .skrollr section#functional .table {
    margin-bottom: 60px;
  }
  .skrollr section .table {
    clear: both;
  }
}
/*# sourceMappingURL=animations.css.map */